h1 {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 14px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
}

body {
    background-color: purple;
}